<div class="mt-5">
    <h1>All Category</h1>
    <div class="row mt-5 mb-2">
        @{
            foreach (var category in Model.AllCategory)
            {
                <div class="col-4">
                    <img class="img-thumbnail" src="@category.Image" alt="@category.Name" width="300" height="300" />
                    <h2>@category.Name</h2>
                    <p>@category.Description</p>
                    <form action="/Home/list/@category.Name">
                        <button class="btn-warning">Click me</button>
                    </form>
                </div>
            }
        }
    </div>
</div>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ImageModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Uploaded Image
        </dt>
        <dd class="col-sm-10">
            <img  src="data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27250%27%20height%3D%27250%27%20viewBox%3D%270%200%20250%20250%27%3E%3Crect%20width%3D%27250%27%20height%3D%273250%27%20fill-opacity%3D%220%22%2F%3E%3C%2Fsvg%3E" data-orig-src="@("~/image/"+Model.Image)" asp-append-version="true" width="250px" height="250px" />
        </dd>
    </dl>
</div>